.git
.github
.vscode
.idea

.env
.env.*
!.env.prod-sim.example
!.env.example

**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
.mypy_cache
.ruff_cache

**/node_modules
**/.next
**/dist
**/build

.terraform
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup

coverage.xml
.coverage
test-results.xml

api/migrations/alembic/backup
migrations/.env.local
